/* Couleurs
Jaune foncé : #B27C2F
Jaune : #FFA31E
Jaune clair : #FFAD38
Bleu foncé : #006BB2
Bleu clair : #1EA5FF
*/


/* Affichage du bouton permettant d'ouvrir le PopIn */
.btn{
    height: 50px;
    width: 330px;
    background-color: #FFA31E;
    border: #FFA31E solid 2.5px;
    color: white;
    transition: all 0.3s ease-out;
    transition-duration: 0.3s;
    font-family: "Verdana";
    font-size: 26px;
    font-weight: bold;
    border-radius: 2px;
    position: relative;
    z-index: 1;
}
.btn:hover{
    color: white;
    background-color: #B27C2F;
    border: #B27C2F solid 2.5px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    transition-duration: 0.3s;
    position: relative;
    z-index: 1;
}
.hidden{
    display: none;
}

.show{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 600px;
    height: 450px;
    background-color: #737373;
    border: #FFA31E solid 6px;
    background-image: url("face_a_face.jpg");
    border-radius: 6px;
    color: #F2F2F2;
    position: relative;
    z-index: 3;

}

.closed{
    opacity: 0.5;
}

.body{
    background-color: black;
    height: 100%;
    width: 100%;
}

span{
    border-radius: 50px;
    background-color: #E81002;
    color: white;
    font-weight: bold;
    padding: 10px 13px;
    text-align: center;
    position: relative;
    bottom: 10px;
    left: 580px;
    cursor: pointer;
}
.center{
    text-align: center;
}

img{
    width: 100%;
    position: absolute;
    z-index: 1;
}
body {
    font-family: Verdana;
}
.vbtn{
    background-color: #FFA31E;
    border: #FFA31E solid 2.5px;
    color: white;
    transition: all 0.3s ease-out;
    transition-duration: 0.3s;
    font-family: "Verdana";
    font-size: 26px;
    font-weight: bold;
    border-radius: 2px;
}
.vbtn:hover{
    color: white;
    background-color: #B27C2F;
    border: #B27C2F solid 2.5px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    transition-duration: 0.3s;
}
.email{
    height: 25px;
    width: 250px;
    background-color: #FFA31E;
    color: white;
    border: 4px solid #E89910;
    font-size: 20px;
    text-align: center;
    border-radius: 3px;
}
.vbtndbld{
    background-color: #FFA31E;
    border: #FFA31E solid 2.5px;
    color: white;
    transition: all 0.3s ease-out;
    transition-duration: 0.3s;
    font-family: "Verdana";
    font-size: 26px;
    font-weight: bold;
    border-radius: 2px;
    opacity: 0.5;
}
.votreadressemail{
    font-size: 20px;
}